{{> header }}

{{> nav }}
    <div class="container text-center">
        <div class="jumbotron">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-4">COVID19</h1>
                </div>
            </div>
         </div>        
    </div>
{{> footer}}